:root {
  --main-color: #a29bfe;
}

* {
  box-sizing: border-box;
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
}

#body-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  background-color: black;
}

#landing {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  & h2 {
    font-weight: 700;
    font-family: "Satoshi-Black", sans-serif;
    font-size: 30px;
  }

  & h1 {
    font-family: "Satoshi-Black", sans-serif;
    font-weight: bolder;
    font-size: 50px;
  }

  & header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    width: 95%;
  }

  & ul {
    display: flex;
    align-items: center;

    & li {
      margin-left: 20px;

      & a {
        text-decoration: none;
        font-family: "Satoshi-Bold", sans-serif;
      }
    }
  }

  & #presentation {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    text-align: center;
    width: 95%;

    & img {
      width: 100%;
      height: 89vh;
      border-radius: 20px;
      /* permet de ne squatch l'image quand on la réduit horizontalement*/
      object-fit: cover;
    }

    & h1 {
      position: absolute;
      bottom: 52%;
    }

    & p {
      position: absolute;
      bottom: 47%;
      font-family: "Satoshi-Black", sans-serif;
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#section-services {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#grid-services {
  display: grid;
  grid-template-areas:
    "demenagement livraison livraison"
    "demenagement bouchons sauvetage"
    "moral moral sauvetage";
  row-gap: 20px;
  column-gap: 20px;

  article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-inline: 25px;
    padding-block: 35px;
    border: solid 1px var(--main-color);
    border-radius: 15px;
  }

  #demenagement {
    grid-area: demenagement;
  }

  #livraison {
    grid-area: livraison;
  }

  #bouchons {
    grid-area: bouchons;
  }

  #sauvetage {
    grid-area: sauvetage;
  }

  #moral {
    grid-area: moral;
  }
}

#section-heros {
  width: 95%;

  & button {
    font-family: "Satoshi-Black", sans-serif;
    padding: 16px;
    background-color: var(--main-color);
    border-radius: 17px;
    width: fit-content;
    margin-bottom: 45px;
    display: block;
    margin-inline: auto;
    margin-block: 35px;
    text-transform: uppercase;
  }
}

#grid-heros {
  display: grid;
  grid-template-areas:
    "a b c"
    "d e f";
  row-gap: 20px;
  column-gap: 20px;
  margin-top: 45px;

  article {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    font-family: "Satoshi-Rgular", sans-serif;
    font-size: 13px;

    & img {
      width: 100%;
      border-radius: 15px;
    }

    & .heros-text {
      position: absolute;
      text-align: center;
      background-color: rgba(0, 0, 0, 0.5);
      line-height: 25px;
      padding-inline: 20px;
      width: 100%;
    }

    & .nom-heros {
      font-family: "Satoshi-Black", sans-serif;
      font-size: 20px;
      padding-top: 25px;
      padding-bottom: 5px;
    }

    & .description-heros {
      font-size: 15px;
      padding-bottom: 20px;
    }

    & .hover-text {
      background-color: rgba(112, 159, 221, 0.6);
      position: absolute;
      top: 0;
      width: 100%;
      padding: 15px;
      font-family: "Satoshi-MediumItalic", sans-serif;
      font-size: 16px;
      line-height: 20px;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      text-align: center;
      display: none;
    }

    &:hover .hover-text {
      display: block;
    }
  }

  #cat-astrophic {
    grid-area: a;
  }

  #carotte-woman {
    grid-area: b;
  }

  #ultraquenarde {
    grid-area: c;
  }

  #poulpy {
    grid-area: d;
  }

  #orang {
    grid-area: e;
  }

  #superime {
    grid-area: f;
  }
}

#blue-text {
  color: var(--main-color);
}

h3 {
  font-family: "Satoshi-Black", sans-serif;
  font-size: 30px;
  margin: 60px;
  text-align: center;
  margin-block: 100px;
}

/* le premier h3 est mal positionné à cause du landing je ne sais pas pourquoi*/
#section-services h3 {
  margin-top: 60px;
}

h4 {
  font-family: "Satoshi-Black", sans-serif;
  font-size: 30px;
  color: var(--main-color);
}

.p-humour {
  text-transform: uppercase;
  font-family: "Satoshi-Bold", sans-serif;
  margin-top: 15px;
  margin-bottom: 25px;
}

.p-prix {
  font-family: "Satoshi-Black", sans-serif;
  padding: 16px;
  background-color: var(--main-color);
  border-radius: 17px;
  width: fit-content;
  margin-bottom: 45px;
}

.p-asterisque {
  font-family: "Satoshi-MediumItalic", sans-serif;
}
